.wrapper {
	margin: 0 auto;
  	width: 80em;
  	
}
.header {
	border-top: 10px solid $primary-color;
	background-color:$secondary-color;
	height: 26.6em;
}
.infoHeader {
	width: 26.324em;
	height: 115px;
	position: relative;
    left: 13.16em;
}

.infoSalud {
	text-align: center;
	width:  21em;
	display: inline-block;
    margin: 6.625em 0 8.75em 4.56em;
}
.infoU {
	background-color: $primary-color;
    width: 39.37em;
    height: 25.68em;
    position: relative;
    left: 40.56em;
    bottom: 25.93em;
}
.infoU h3 {
	margin: 0px 3.43em;
}
.infoU p {
	color: #fff;
	font: 1em $primary-font;
	width: 31.56em;
    margin: 2.37em 3.37em;
}
.galeria {
	text-align: center;
	position: relative;
    bottom: 19.37em;
}
.footer {
	background-color: $primary-color;
    height: 15.93em;
    margin-bottom: 6.25em;
    width: 80em;
    margin: 0 auto;
}

.allInfo {
	width:  14.75em;
	display: inline-block;
	vertical-align: text-top;
	position: relative;
    left: 16.18em;
    top: 3em;
}



