.logo {
    position: relative;
    left: 7.3em;
    bottom: 3.18em;
}
.casa {
	height: 0.87em;
}
.flechaI {
	position: relative;
    left: 44.8em;
    top: 6.75em;
}
.flechaD {
	position: relative;
    left: 9.62em;
    top: 15.5em;
}
.puntos {
	position: relative;
    left: 9.62em;
    top: 15.5em;

}
.granosCafe {
	position: relative;
    left: 650px;
    top: 175px;
}
.circle {
	position: relative;
    left: 46.9em;
    top: 6.125em;
}