a {
	text-decoration: none;
}
ul {
	display: flex;
}
.redondo {
	border-radius: 2.125em 0 0 2.125em;
}
.redondo1 {
	border-radius: 0 2.125em 2.125em 0;
}
.header li {
	display: inline;
	list-style: none;
    font: 0.625em $primary-font;
}
.infoHeader a{
	color: $secondary-font-color;
}
.menu a{
	color: $tertiary-font-color;
}
.infoSalud a {
	color: $primary-color;
	font-size: 0.75em;
}

