.menu button {
	background-color: #f4f4f4;
	border: 1px gray;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1em;
	padding: 0.75em 1.5em;
	position: relative;
	left: 40em;
	bottom: 110px;
}
.botonU {
	border-radius: 0.37em;
	padding: 0.56em 0.93em;
    margin: 0.31em 4.18em;
}
.circle {
    float: left;
    position: relative;
    top: 266px;
    left: 600px;
}

